* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --bg-color: #fdfffc;

    --gray-main: #bcbcbc;
    --gray-second: #d6d6d6;
    --gray-second-difference: #333333;

    --black-main: #202124;
    --black-second: #474747;
    --black-second: #4D4D4D;

    --raster-color: #f4f4f4;

    --blue-first: #9eccd8;
    --blue-second: #77aabc;

    --yellow-first: #faee3b;
}

html, body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: var(--black-main);
    /* width: 100%; */
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--yellow-first);
}

::-moz-selection { /* Code for Firefox */
    background: var(--blue-first);
    color: var(--black-main);
  }
  
::selection {
background: var(--blue-first);
color: var(--black-main);
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

a {
    cursor: pointer;
}

.app {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}

.mask {
    overflow: hidden;
}

/* nav */
.nav {
    position: fixed;
    display: block;

    font-size: 1rem;

    background-color: var(--bg-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);

    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;

    left: 50%;
    transform: translateX(-50%);
    opacity: 1;

    text-decoration: none;
    color: var(--black-main);
    cursor: pointer;
    z-index: 10;
}

.projects {
    bottom: 0;
    margin-bottom: 20px;
}

.email {
    background-color: #000;
    color: var(--bg-color);
    transform-origin: center;

    animation: shake 1.6s infinite;
    animation-play-state: running;
}

@keyframes shake {
    0% {
        transform: translateX(-50%) rotate(0);
    }
    25% {
        transform: translateX(-50%) rotate(-5deg);
    }
    50% {
        transform: translateX(-50%) rotate(5deg);
    }
    75% {
        transform: translateX(-50%) rotate(-5deg);
    }
    100% {
        transform: translateX(-50%) rotate(0);
    }
}

.email:hover {
    background-color: var(--bg-color) !important;
    color: var(--black-main) !important;
    animation-play-state: paused;
}

.nav:hover {
    background-color: var(--gray-second-difference);
    color: var(--bg-color);
}

/* nav */

nav {
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 40px;
}

.circle {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 10;
    border: 1px solid var(--black-main);

    margin-bottom: 10px;

    cursor: pointer;
}

.circle:nth-child(1){
    background-color: #000;
}

.circle:hover {
    background-color: var(--black-main);
}

/* page-contact */

section.page-contact {
    position: relative;
    display: block;
    width: 100vw;
    height: 100%;

    background-color: var(--yellow-first);
    z-index: 5;
}

.exit {
    position: fixed;
    display: block;
    top: 10px;
    right: 10px;
    z-index: 999;
}

/* page-contact content */

.content {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 1;

    /* transform: rotate(-13deg); */

    scroll-snap-type: y mandatory ;
    overflow-y: scroll !important;
    height: 100vh;

}

.content h2 {
    position: relative;
    text-align: center;
    width: 60%;
    height: auto;
    display: block;

    color: var(--black-main);

    font-weight: 500;
    font-size: 1.6rem;

    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

.content a.myname {
    text-decoration: none;
    color: var(--black-main);
    font-weight: 700;
}

.content a.myname:hover {
    text-decoration: underline;
}

.content div img {
    width: 250px;
    position: relative;
    display: block;
    transform: rotate(0deg) translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

.content div img:hover {
    transform: rotate(-5deg) translateX(-50%) translateY(-50%);
}

.content .link {
    margin: auto;
    height: 100vh;
    position: relative;
    display: block;
}

.content .button {
    position: relative;
    display: block;
    width: fit-content;

    background-color: var(--black-main);
    color: var(--yellow-first);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;

    text-decoration: none;

    font-size: 1.2rem;
    margin-top: 1.3rem;

    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;

}

.content .button:hover {
    transform: translateX(-50%) translateY(-50%) rotate(-3deg);
}


.content .tooltip {
    position: relative;
    display: block;
    width: fit-content;
    text-align: center;
    font-size: 1.2rem;  
    text-transform: lowercase; 
    cursor: pointer;

    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

/* each page */

.content div {
    height: 100vh;
    scroll-snap-align: start;
}

.first h2 {
    top: 30%;
}

/* emoji rain */

.rain {
    position: absolute;
    display: block;    
}
.rain span {
    position: relative;
    display: block;

    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.1rem;
    color: var(--black-main);
    margin-top: 25px;
}

.emoji img {
    width: 70px;
}

.emoji:hover img{
    rotate: -10deg;
}

@keyframes emojis-fall {
    0% {
      bottom: -10%;
    }
    100% {
      bottom: 100%;
    }
}

@keyframes emojis-shake {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0px);
    }
}

.emoji {
    position: fixed;
    bottom: -10%;
    z-index: 999;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    -webkit-animation-name: emojis-fall, emojis-shake;
    -webkit-animation-duration: 5s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: emojis-fall, emojis-shake;
    animation-duration: 5s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.emoji:nth-of-type(1) {
    left: 20%;
}

.emoji:nth-of-type(2) {
    left: 40%;
    animation-delay: 3s, 3s;
}

.emoji:nth-of-type(3) {
    left: 75%;
    animation-delay: 1s, 1s;
}

@keyframes breathing {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.9;
    }
}




